*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding: 2rem;
  background-color: #593fec;
}

.header__buttons {
  text-align: center;
}

.button {
  border: none;
  cursor: pointer;
  border-radius: 0;
  text-decoration: none;
  background-color: transparent;
  color: #ffffff;
  font-weight: inherit;
  font-size: 16px;
  width: fit-content;
}

.button:hover {
  color: #4caf50;
}

.button:focus {
  outline: 0;
}

.button:not(:last-child) {
  margin-right: 1.5rem;
}

.grid-container {
  display: flex;
  padding: 2rem 2rem 3.2rem 3.2rem;
  /* margin: 2rem 2rem 3rem 3.2rem; */
  position: relative;
}

.line__container {
  min-width: 0;
}

.line__vertical {
  border-left: 5px solid;
  height: 100%;
}

.line__horizontal {
  border-bottom: 5px solid;
  width: 100%;
}

.desc {
  position: absolute;
  font-size: 1.4rem;
}

.desc__vertical {
  left: -70px;
  top: 50%;
  transform: rotate(270deg);
}

.desc__horizontal {
  bottom: 10px;
  left: 50%;
}

.values {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 5px;
}

.array-bars {
  display: flex;
  align-items: flex-end;
  padding: 0 10px;
}

.array-bar {
  background-color: #67b9a7;
  margin: 0 0.15%;
}
